@model ParticipantsIndexViewModel

@{
    ViewBag.Title = "Alle Teilnehmer (Card)";
}

@section ModuleMenu
{
   @Html.Partial("ParticipantsMenu", 0)
}

@for (int index = 0; index < Model.Participants.Count; index++)
{
    <div class="row">
        @for (int u = 0; u < 3 && index < Model.Participants.Count; u++, index++)
        {
            var participant = Model.Participants[index];
            <div class="col-md-3 participantCard">
                <div class="row">
                    <div class="col-xs-5">
                        <img src="@Url.Action("ProfileImage", new {id = participant.Id})"/>
                    </div>
                    <div class="col-xs-7">
                        <h1>@participant.Firstname @participant.Lastname</h1>
                        <p><span class="glyphicon glyphicon-briefcase"></span> @participant.Company</p>
                        <p><span class="glyphicon glyphicon-link"></span> <a href="@participant.Website">@participant.Website</a></p>
                        <p><span class="glyphicon-envelope"></span> <a href="mailto: @participant.Email">@participant.Email</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        }
        @{
            index--;
        }
    </div>
}
