@model WebApplication1.Models.Participant
    @{
        ViewBag.Title = "Neuen Teilnehmer hinzufügen";
    }

@section ModuleMenu
{
    @Html.Partial("ParticipantsMenu", 0)
}


@using (Html.BeginForm("Create","Participants",FormMethod.Post, new {enctype="multipart/form-data"}))
{
    if (!ViewData.ModelState.IsValid)
     {
         <div class="panel panel-danger">
             <div class="panel-heading">Eingabefehler</div>
             <div class="panel-body text-danger">
                 @Html.ValidationSummary(false)
             </div>
         </div>
     }

    <div class="row">
        <fieldset class="col-md-6">
            <legend>Person</legend>
            @Html.EditorFor(m => m.Firstname)
            @Html.EditorFor(m => m.Lastname)

            <div class="form-group">
                <label for="upload">Avatar: </label>
                <input type="file" name="upload" id="upload"/>
            </div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Geschäftlich</legend>
            @Html.EditorFor(m => m.Website)
                        @Html.EditorFor(m => m.Company)
                        @Html.EditorFor(m => m.Email)
        </fieldset>
    </div>
    <input type="submit" value="Hinzufügen"/>
}
