@model WebApplication1.Models.Participant
    @{
        ViewBag.Title = "Neuen Teilnehmer hinzufügen";
    }

@section ModuleMenu
{
    @Html.Partial("ParticipantsMenu", 0)
}


@using (Html.BeginForm("Create","Participants",FormMethod.Post, new {enctype="multipart/form-data"}))
{
    if (!ViewData.ModelState.IsValid)
     {
         <div class="panel panel-danger">
             <div class="panel-heading">Eingabefehler</div>
             <div class="panel-body text-danger">
                 @Html.ValidationSummary(false)
             </div>
         </div>
     }

    <div class="row">
        <fieldset class="col-md-6">
            <legend>Person</legend>
            @Html.EditorFor(m => m.Firstname)
            @Html.EditorFor(m => m.Lastname)

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="upload">Avatar: </label>
                    </div>
                    <div class="col-xs-10">
                        <input type="file" name="upload" id="upload" />
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Geschäftlich</legend>
            @Html.EditorFor(m => m.Website)
            @Html.EditorFor(m => m.Company)
            @Html.EditorFor(m => m.Email)
        </fieldset>
    </div>
    <div class="pull-right">
        <a href="@Url.Action("Index")" class="btn btn-default">Abbrechen</a>
        <input type="submit" value="Speichern" class="btn btn-primary" />
    </div>
}
