@model WebApplication1.Models.Participant
    @{
        ViewBag.Title = "Neuen Teilnehmer hinzufügen";
    }

@using (Html.BeginForm())
{
    <div class="panel panel-danger">
        <div class="panel-heading">Eingabefehler</div>
        <div class="panel-body text-danger">
            @Html.ValidationSummary(false)
        </div>
    </div>

    <div class="row">
        <fieldset class="col-md-6">
            <legend>Person</legend>
            @Html.EditorFor(m => m.Firstname)
            @Html.EditorFor(m => m.Lastname)
            @Html.EditorFor(m => m.Email)
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Geschäftlich</legend>
            @Html.EditorFor(m => m.Website)
            @Html.EditorFor(m => m.Company)
        </fieldset>
    </div>
    <input type="submit" value="Hinzufügen"/>
}
