@model string

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label for="@Html.IdForModel()">@Html.DisplayNameForModel()</label>
        </div>
        <div class="col-md-8">
            <input type="password" name="@Html.NameForModel()" id="@Html.IdForModel()" value="@Html.ValueForModel()" class="form-control" data-toggle="tooltip" data-placement="right" title="Tooltip on right" />
        </div>
    </div>
    <div class="text-danger">@Html.ValidationMessageFor(m => m)</div>
</div>
